.bg-exodia {
    background-color: #191970;
}

.text-exodia {
    color: #191970;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

.home-doc {
    width: 18%;
    margin-bottom: 4%;
}

.home-doc-span {
    margin-left: 2.5%;
}
