<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
    <header>
        <th:block th:include="~{fragments/navbar}"/>
    </header>
    <main>
        <hr class="bg-exodia hr-2"/>
        <div class="jumbotron mt-3 bg-exodia">
            <h1 class="text-white">Welcome to EXODIA Xerox Information.</h1>
            <hr class="bg-white hr-2"/>
            <h3 class="text-white"><a th:href="@{/login}">Login</a> if you have an account.</h3>
            <h3 class="text-white"><a th:href="@{/register}">Register</a> if you don't.</h3>
        </div>
        <hr class="bg-exodia hr-2 mt-5"/>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</body>
</html>